/backend/config.local.php

/backend/storage/cache/*
!/backend/storage/cache/.gitkeep
/backend/storage/logs/*
!/backend/storage/logs/.gitkeep

/vendor/
/dist/
/node_modules/

/.phpunit.result.cache

*.zip
*.xpi
*.rar

/.idea/
/.vscode/
/.DS_Store
/Thumbs.db
